@model IEnumerable<ShoppingCart.Application.ViewModels.AssignmentTaskViewModel>
@using WebApplication1.Utility;

@{
    ViewData["Title"] = "Tasks";
}

<h1>Your Tasks</h1>

@if (this.User.IsInRole("Teacher"))
{
    <h3>Add new Task</h3>
    <a href="/AssignmentTask/CreateTask" class="btn button btn-secondary">Add Task</a>
}

@foreach (var item in Model) { 
    <div class="row p-3 border my-2">
        <div class="col-10">
            <h4>@item.Title</h4>
            <p>@item.Description</p>
            <p>Deadline: @item.Deadline</p>
            <p>Teacher: @item.Teacher</p>

            @if (User.Identity.Name == item.Teacher)
            {
                string id = item.Id.ToString();
                string encryptedId = Encryption.SymmetricEncrypt(id);
                <a class="btn-primary btn" href="/AssignmentTask/ViewTaskSubmissions?eid=@encryptedId">View Submissions</a>
                //<a href="/AssignmentTask/AddComment?id=@Html.DisplayFor(model => model.Id)" class="btn btn-dark btn-block mb-2">Add Comment</a
            }

            @if (this.User.IsInRole("Student"))
            {
                @if (ViewBag.userSubmittedTaskIds != null)
                {
                    List<Guid> taskIds = ViewBag.userSubmittedTaskIds;
                    if (taskIds.Contains(item.Id))
                    {
                        <p>Already submitted</p>
                    }
                    else
                    {
                        if (DateTime.Now > item.Deadline)
                        {
                            <p class="text-danger">Deadline has passed, you cannot submit</p>
                        }
                        else
                        {
                            string subid = item.Id.ToString();
                            string encryptedSubId = Encryption.SymmetricEncrypt(subid);
                            <a href="/AssignmentTask/UploadSubmission?eid=@encryptedSubId" class="btn btn-primary">Add submission</a>
                        }
                    }
                }

            }
        </div>

    </div>
}



