@model IEnumerable<ShoppingCart.Application.ViewModels.SubmissionViewModel>
@using WebApplication1.Utility;

@{
    ViewData["Title"] = "Task Submissions";
}

<h1>Task Submissions</h1>

<div class="container">
    <div class="row row-cols-2">
        @foreach (var submission in Model)
        {
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@submission.AssignmentTask.Title</h5>
                        <p class="card-text">Date submitted: @submission.TimeSubmitted</p>
                        <p class="card-text">Submission Title: @submission.FileName</p>
                        <p class="card-text">Submitted By: @submission.Owner</p>

                        @{ 
                            string encryptedId = Encryption.SymmetricEncrypt(submission.Id.ToString());

                        <a href="/AssignmentTask/ViewSubmission?eid=@encryptedId" class="btn btn-dark btn-block mb-2">View Submission</a>
                        }

                    </div>
                </div>
            </div>
        }
    </div>




</div>
